.bg{

    background: url("/assets/images/background1.jpg") no-repeat center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.expand{
    
    min-height: 300px;
    min-width: 500px;
    
}

