<!--The content below is only a placeholder and can be replaced.-->


<div class="bg">
    <div class="row">
        <div class="col-lg-4 awesome">
            Rajat Chaudhari
        </div>
        <div class="col-lg-8">
            <app-keywords></app-keywords>
        </div>
    </div>

    <div class="expand ">
    </div>
    <div class="shade">
        6.4 years of Expertise in: Application Development ● Designing Solutions ● Consulting ● Product Development Cycle ● Coding
        ● Testing & Debugging ● Analysis, Design & Development ● Team Building and Development - for clients like AT&T, KLX
        Aerospace and Capita

    </div>
    <div class="expand"></div>
    <div class="row">
        <div class="col-lg-4">
            <app-summary></app-summary>
        </div>
        <div class=col-lg-8>
            <app-projects></app-projects>
        </div>

    </div>
    <app-achievements></app-achievements>
</div>