.bg{

    /* background: url("/assets/images/bgdoodle.jpg") no-repeat center fixed; */
    background-color:rgba(228, 234, 240, 0.014) ;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
}

.expand{
    
    min-height: 100px;
    min-width: 500px;
    
}

.shade{
  background-color:#64C7CC;
  padding: 10px;
  border-bottom: darkgray;
  align-content: center;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
  align-self: center;
  font-size: 20px;
  margin-left: 3%;
  margin-right: 3%;
}




  .awesome {
    
    font-style: italic;
    font-size: 90px;
    width: auto;
    word-spacing: -5ch;
    margin: 0 auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#0d2524 #313131;
    
    font-weight: bold;
    position: relative;
    -webkit-animation:colorchange 20s infinite alternate;
    animation: colorchange 20s infinite alternate;
    
  }

  @-webkit-keyframes colorchange {
    0% {
      
      color: #44ea60;
    }
    
    10% {
      
      color: #44ea9d;
    }
    
    20% {
      
      color: #44eadc;
    }
    
    30% {
      
      color: #44c3ea;
    }
    
    40% {
      
      color: #4487ea;
    }
    
    50% {
      
      color: #4470ea;
    }
    
    60% {
      
      color: #5544ea;
    }
    
    70% {
      
      color: #7044ea;
    }
    80% {
   
      color: #5d44ea;
    }
    
    90% {
   
      color: #445dea;
    }
    
    100% {
      
      color: #4492ea;
    }
  }
  @keyframes colorchange {
    0% {
      
      color: #44ea60;
    }
    
    10% {
      
      color: #44ea9d;
    }
    
    20% {
      
      color: #44eadc;
    }
    
    30% {
      
      color: #44c3ea;
    }
    
    40% {
      
      color: #4487ea;
    }
    
    50% {
      
      color: #4470ea;
    }
    
    60% {
      
      color: #5544ea;
    }
    
    70% {
      
      color: #7044ea;
    }
    80% {
   
      color: #5d44ea;
    }
    
    90% {
   
      color: #445dea;
    }
    
    100% {
      
      color: #4492ea;
    }
  }